.form-container {
  max-width: 60%;
  margin: 3.125rem auto;
  margin-top: 0;
}

.form-container form {
  background-color: #ffffff;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.form-container form textarea {
  resize: none;
  height: 10rem;
}

.form-container form label {
  font-size: 1rem;
}

.form-container form .form-control-file,
.form-select {
  font-size: 1rem;
  padding: .1rem;
}

.form-container form .btn {
  font-size: 1rem;
}


/* media queries */
@media (max-width: 767.98px) {
  .form-container {
    max-width: 90%;
  }

  .form-container form {
    padding: .8rem;
  }

  .form-container form label,
  .form-container form .form-control-file,
  .form-container form .form-select,
  .form-container form .btn,
  .form-container form .form-control {
    font-size: .6rem;
  }
}