/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
:root{
  --bg-color: #ffff;
--second-bg-color: #41644a;
--text-color: #f2e3db;
--main-color: #000080;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: var(--bg-color);
color: var(--text-color);
}
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  height: 130px;
}


.logo{
  height: 100%;
}

.logo p{
  font-family: 'Dancing Script';
  font-size: 5rem;
  color: var(--bg-color);
  margin: 1rem;
  font-weight: bold;
}

.navbar a{
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 1s;
}

/* .navbar a.active, */
.navbar a:hover{
  color: var(--bg-color);
}

.navbar a.active {
  color: var(--main-color);
  position: relative;
  z-index: 1;
}

.navbar a.active::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 3rem; 
  background-color: var(--bg-color);
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


section{
  margin: 0;
}
.section-main{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}

.section-sub{
  color: black;
  margin: 0 0 0;
  text-align: center;
  margin: 10rem auto 10rem auto;
}

.section-main .section-sub p{
  text-decoration: bold;
  color: black;
  font-size: 2.3rem;
  text-align: justify;
}
.section-main .section-sub h1{
  margin-bottom: 2rem;
}


footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  padding: 2rem 4rem;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.footer .footer-main{
  display: inline-flex;
  align-items: center;    
  width: 100%;
  justify-content: space-between;
  overflow: auto;  
}

.footer .footer-main .footer-sub{
  display: inline;
}
.footer .footer-main .footer-sub .social-media{
  color: var(--bg-color);
  display: inline-flex;
  margin: 1rem 0 0 0;
}
.footer .footer-main .footer-sub .social-media a i{
  font-size: 2.5rem;
}

.footer div a{
  display: block;
  font-size: 1.4rem;
  color: var(--bg-color);
  margin-bottom: 0.4rem;
}
.footer .footer-main .footer-sub h2{
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  color: var(--bg-color);
}

.footer .footer-main .footer-sub .contact{
  display: flex;
  color: var(--bg-color);
  font-size: .8rem;
  width: 100%;
}
.footer .footer-main .footer-sub .contact p{
  margin-right: 1rem;
}

/* property for map(temporary) */
.footer .footer-main .footer-sub .Footer-logo{
  height: 20rem;
  width: 40rem;
  background-color: var(--bg-color);
  border-radius: .5rem;
  text-align: center;
  transition: 1s;
}



/*Top Nav Btn*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 101;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #520101;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  opacity: 0.7;
  }
  
#myBtn:hover {
  background-color:  #810303;
  border: 2px solid #777;
  }
  
  html {
    scroll-behavior: smooth;
  }



/* Media Queries */
@media screen and (max-width: 768px) {
  header {
      padding: 2rem 5%;
      height: auto;
  }

  .logo p {
      font-size: 4rem;
  }

  .navbar {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .navbar a {
      margin: 1rem 0;
  }

  .section-sub {
      margin: 6rem auto;
  }

  .footer {
      padding: 2rem 5%;
      height: auto;
  }

  .footer .footer-main .footer-sub .box {
      width: 25rem;
  }

  .footer .footer-main .footer-sub .contact {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: 1rem;
      font-size: 23px;
  }
}

@media screen and (max-width: 480px) {
  header {
      padding: 2rem 5%;
  }

  .logo p {
      font-size: 3rem;
  }

  .navbar a {
      margin: 1rem 0;
  }

  .section-sub {
      margin: 4rem auto;
  }

  .footer {
      padding: 2rem 5%;
  }

  .footer .footer-main .footer-sub .box {
      width: 20rem;
  }
}
