    :root {
      --bg-color: #ffff;
      --text-color: #f2e3db;
      --main-color: #000080;
    }

    body {
      background-color: #f8f9fa;
      color: var(--main-color);
    }

    .navbar-custom {
      background-color: var(--main-color);
      height: 8rem;
      margin-bottom: 5rem;
      box-shadow: 0 1px 2px 0 black;
    }

    .navbar-custom .navbar-brand {
      font-family: 'Dancing Script';
      color: #ffffff;
      font-size: 2rem;
    }

    .navbar-custom .btn-logout {
      background-color: lightgray;
      color: var(--main-color);
      border: none;
      box-shadow: none;
      font-weight: bold;
      border-radius: 1rem;
      font-size: .8rem;
    }

    .navbar-custom .btn-logout:hover {
      box-shadow: 0 0 5px white;
      color: white;
    }

    .top-container {
      max-width: 60%;
      margin-left: 20%;
      font-size: 1rem;
    }

    /* media queries */
    @media (max-width: 767.98px) {
      .navbar-custom .navbar-brand {
        font-size: 1.5rem;
      }

      .navbar-custom .nav-item button {
        font-size: .6rem;
      }

      .top-container {
        max-width: 90%;
        margin-left: 5%;
        font-size: .6rem;
      }

    }