/*Head section*/

  
@keyframes typing {
    from { width: 0px; }
  }
  
  @keyframes blink-caret {
    52% { border-color: transparent; }
  }
  
  @keyframes deleting {
    to { width: 0px; }
  }
  
  #typing-effect {
    display: inline-block;
    border-right: 0.04em solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite alternate;
    font-size: 60px;
    margin-top: -2px;
    margin-left: 45px;
    color: #ffffff;
  }
  
  .deleting-effect {
    animation: deleting 1s steps(40, end), blink-caret 0.75s step-end infinite alternate;
  }
  
  #typing-placeholder {
    visibility: hidden;
  }

  #typing-container {
    min-height: 60px; /* Set a minimum height for typing container */
    margin-bottom: 20px; /* Add margin to separate elements */
  }
  

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  

  #welcome{
    font-size: 80px;
    margin-top: 60px;
    margin-left: 45px;
    color: #ffffff;
  }
  
  #contact{
      border-radius: 50px;
      text-align: center;
      font-size: 1.5vw;
      background-color: #ffffff ;
      color: #000080;
      border-bottom: 0 solid;
      padding: 15px 25px;
      margin-right: 150px;
      float: right;
      margin-top: 200px;
      font-weight: 700;
  }

  .all{
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding: 0.7px;
  }
  
  #contact:hover{
    background-color: #ffffff;
    opacity: 70%;
  }
  

  .elemnts{
    margin-left: 100px;
    min-height: 360px; /* Set a minimum height */
  }



  
  /* Counting effect */


  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .Slink {
    text-decoration: none;
  }
  
  .container {
    width: 10vw;
    height: 10vw;
    background-color: #ffffff;
    color: #000080;
    border-radius: 10px;
    margin: 10vw;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    position: relative;

  }
  
  .container i {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .container .num {
    font-size: 4vw;
    font-weight: bold;
  }
  
  .container .text {
    font-size: 1vw;
    text-transform: uppercase;
  }


  /* why us */

  .whyus{
    text-align: center;
    color: #000080;
    font-weight: bold;
    font-size: 2.7vw;
    margin-top: 80px;

  }
  

  .row {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    height: auto; /* Remove height:auto */
  }
  
  .column {
    display: flex; /* Add display:flex */
    flex-direction: column; /* Set flex-direction to column */
    align-items: center; /* Center align items vertically */
    width: 25%;
    padding: 40px;
  }
  
  .whycontainer {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000080;
    border-radius: 20px;
  }
  
  .whycontainer:hover .overlay {
    opacity: 75%;
  }
  
  .whytext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

  /* about section */

  .aboutSection h2 {
    text-align: center;
    color: #000080;
    font-weight: bold;
    font-size: 5vb;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .aboutSection p {
    font-size: 2.3vb;
    color: rgb(44, 44, 44);
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 60px;
    text-align: left;
  }


  .aboutrow{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    height: auto; /* Remove height:auto */
  }

  .aboutclm{
    display: flex; /* Add display:flex */
    flex-direction: column; /* Set flex-direction to column */
    align-items: center; /* Center align items vertically */
    width: 50%;
    padding: 4px;
  }

  .aboutimg{
    width: 35vw;
    border-radius: 10%;
  }

