.form-container {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 576px) {
  .form-container{
    padding: 1rem;
  }
  .form-group {
    font-size: .6rem;
  }

  .form-group input {
    font-size: .6rem;
  }

  .form-group .btn {
    font-size: .6rem;
  }

}