.top-container{
  background-color: none;
  width: 60%;
  margin-left: 20%;
}
.top-container .top-buttons button:hover{
  box-shadow: 1px 2px 3px 0 black;      
}

.container {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }
  .table th, .table td {
    background-color: #e2e8f0;
    text-align: center;
  }
  .btn-update {
    background-color: #ffc107;
    color: #000000;
    font-size: 0.875rem;
  }
  .btn-delete {
    background-color: #dc3545; 
    color: #ffffff;
    font-size: 0.875rem; 
  }


  /* media queries */
  @media (max-width: 767.98px) {
      .top-container{
        width: 85%;
        margin: auto;
      }
      .top-container .top-buttons button{
        font-size: .6rem;
      }
      .container{
        width: 90%;
        padding: .7rem;
        padding-top: 2rem;
      }
      .table-responsive{
          font-size: .6rem;
      }
      .table-responsive td .btn{
          font-size: .6rem;
      }
  }